<!-- Portfolio Modals -->

<!-- About Me Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal-aboutMe" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <!-- Modal content similar to the template above, customized for "About Me" -->
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>
</div>

<!-- Education Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal-education" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <!-- Modal content similar to the template above, customized for "Education" -->
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>
</div>

<!-- Work Experience Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal-workExperience" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <!-- Modal content similar to the template above, customized for "Work Experience" -->
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>
</div>

<!-- Skills Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal-skills" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <!-- Modal content similar to the template above, customized for "Skills" -->
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>
</div>

<!-- Projects Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal-projects" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <!-- Modal content similar to the template above, customized for "Projects" -->
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>
</div>

<!-- References Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal-references" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <!-- Modal content similar to the template above, customized for "References" -->
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>
</div>