<!-- Portfolio Modals -->

<!-- About Me Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal-aboutMe" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <!-- Modal content similar to the template above, customized for "Projects" -->
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>About Me</h2>
            <hr class="star-primary">
            <br></br>
            <!-- <img src="img/portfolio/WorkExperience.png" class="img-responsive img-centered" alt="{{ post.alt }}"> -->
            <p>Hi! My name is Chris, here is some information about myself!</p>
            <p>When I'm not deep in the world of programming and video game development, I'm probably lifting weights, exploring new destinations, snowboarding, reading, or spending time with my dog, Apollo.</p>
            <p>And of course, video games are a big part of my life. Currently, I’m engrossed in Palworld for its unique blend of genres, The Finals for its intense competitive gameplay, and Hades for its compelling storytelling and art design. These games not only entertain me but also inspire my journey in video game development, constantly fueling my passion to create immersive experiences.</p>
            <p>As I continue to grow in this dynamic industry, I look forward to exploring new technological frontiers and pushing the boundaries of interactive storytelling.</p>
            <p>So, that’s a little bit about me. Thanks for stopping by, and I hope you enjoy your time here!</p>
            <ul class="list-inline item-details">
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>
</div>

<!-- Education Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal-education" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <!-- Modal content similar to the template above, customized for "Education" -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Education</h2>
            <hr class="star-primary">
            <br></br>
            <!-- <img src="img/portfolio/WorkExperience.png" class="img-responsive img-centered" alt="{{ post.alt }}"> -->
            <h3>University of Nevada, Las Vegas</h3>
            <h4>Aug 2019 - Current</h4>
            <h3>Bachelor of Arts in Computer Science</h3>
            <p>List of Relevant Coursework:</p>
            <br></br>
            <h4>Computer Science:</h4>
            <!-- <p>Computer Science I/II, Intro to Systems Programming, Data Structures, Automata and Formal Languages, Computer Organization, Analysis of Algorithms</p>
            <p>Social Implications of Computer Technology, Programming Languages Concepts and Implementation, Information Assurance, Advanced Computer Science Topics: Analysis and Presentation</p>
            <p>Cloud Computing in Engineering, Artificial Intelligence, Intro to Machine Learning, Intro to Data Mining, Software Product Design I</p> -->
            <p>Computer Science I/II</p>
            <p>Intro to Systems Programming</p>
            <p>Data Structures</p>
            <p>Analysis of Algorithms</p>
            <p>Automata and Formal Languages</p>
            <p>Computer Organization</p>
            <p>Social Implications of Computer Technology</p>
            <p>Programming Languages Concepts and Implementation</p>
            <p>Information Assurance</p>
            <p>Operating Systems</p>
            <p>Advanced Computer Science Topics: Analysis and Presentation</p>
            <p>Cloud Computing in Engineering</p>
            <p>Artificial Intelligence</p>
            <p>Intro to Machine Learning</p>
            <p>Intro to Data Mining</p>
            <p>Software Product Design I</p>
            <h4>Mathematics:</h4>
            <p>Calculus I/II</p>
            <p>Discrete Mathematics I/II</p>
            <p>Statistical Methods I</p>
            <p>Computational Linear Algebra</p>
            <h4>Other:</h4>
            <p>Physics for Scientists and Engineers I/II</p>
            <p>Intro to Symbolic Logic</p>
            <p>Advanced Logic</p>
            <p>Digital Logic Design</p>
            <p>Fundamentals of Technical Writing</p>
            <p>Oral Communication</p>
            <ul class="list-inline item-details">
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>
</div>

<!-- Work Experience Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal-workExperience" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <!-- Modal content similar to the template above, customized for "Work Experience" -->
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Work Experience</h2>
            <hr class="star-primary">
            <br></br>
            <!-- <img src="img/portfolio/WorkExperience.png" class="img-responsive img-centered" alt="{{ post.alt }}"> -->
            <h1>2K Games</h1>
            <h3>Quality Assurance Tester</h3>
            <h4>Jun 2020 - Sep 2020</h4>
            <p>As a Quality Assurance Tester at 2K Games, I developed a strong familiarity with databases and bug tracking tools, particularly Jira. My role involved rigorously finding defects in software using established testing methods. This included working on titles such as Borderlands 3, NBA2K20, and WWE 2K20.</p>
            <p>I conducted these tests on a variety of platforms, including PC, Xbox One, and PlayStation 4, ensuring a thorough examination of gameplay across multiple devices. My position involved active listening and vigilant observation to detect and document any bugs in these diverse gaming environments.</p>
            <h1>Dutch Bros</h1>
            <h3>Barista</h3>
            <h4>Sep 2020 - Current</h4>
            <p>As a Barista at Dutch Bros, I provided exceptional customer service and played a vital role in team coordination during peak periods. I handled customer inquiries with professionalism and ensured the maintenance of a clean and organized workspace. I believe that my time at Dutch Bros honed my skills in customer relations, clear communication, and teamwork.</p>
            <ul class="list-inline item-details">
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>
</div>

<!-- Skills Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal-skills" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <!-- Modal content similar to the template above, customized for "Skills" -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Skills</h2>
            <hr class="star-primary">
            <br></br>
            <!-- <img src="img/portfolio/WorkExperience.png" class="img-responsive img-centered" alt="{{ post.alt }}"> -->
            
            <h4>Languages:</h4>
            <p>C++</p>
            <p>C#</p>
            <p>Python</p>
            <p>Java</p>
            <p>JavaScript</p>
            <p>HTML</p>
            <p>CSS</p>

            <h4>Game Engines:</h4>
            <p>Unreal Engine</p>
            <p>Unity</p>
            <p>Godot</p>

            <h4>Tools:</h4>
            <p>Git</p>
            <p>Visual Studio</p>
            <p>Jira</p>

            <ul class="list-inline item-details">
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>
</div>

<!-- Projects Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal-projects" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <!-- Modal content similar to the template above, customized for "Projects" -->
    
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                  <h2>Projects</h2>
                  <hr class="star-primary">
                  <br></br>
                  <p>Select a project to learn more!</p>


                  <body>
                    <ul class="list-inline item-details">
                      <li>
                          <button id="toggle-button1" class="toggle-button">Cannon Clash</button>
                          
                      </li>
                  
                      <li>
                          <button id="toggle-button2" class="toggle-button">Astroponics</button>
                      </li>
                  
                      <li>
                          <button id="toggle-button3" class="toggle-button">Other Projects</button>
                      </li>
                    </ul>
                    <div id="toggle-div1" class="toggle-div">
                      <h2>Cannon Clash</h2>
                      <h4>Made with Unreal Engine 5</h4>
                      <a href="https://github.com/ChristopherMonteleone/CannonClash" class="toggle-button" role="button" target="_blank" rel="noopener noreferrer">View on GitHub</a>
                      <br></br>
                      <p>Gif or Video Gameplay</p>
                      <br></br>
                      <h5>Description</h5>
                      <p>Cannon Clash offers an engaging and dynamic experience as a top-down shooter game that captivates players with its responsive gameplay mechanics. 
                        It features a full game loop with scaling difficulty and an engaging upgrade system for immersive play. 
                        The game's world is brought to life using Unreal Engine's Procedural Generation tools and enhanced by the Niagara system's captivating visual effects.
                        Its architecture is built on a modular codebase that adheres to Unreal Engine 5's coding standards and Object-Oriented Design Principles for efficient performance and easy expandability.
                        Cannon Clash offers a compelling blend of technical proficiency and entertaining gameplay.</p>
                      <h5>Background</h5>
                      <p>Cannon Clash serves as an evolution of the "Toon Tanks V2" project, initially introduced by the esteemed GameDev.tv team in their comprehensive "Unreal Engine 5 C++ Developer Course". 
                        This course laid the foundational blocks of game development principles from which Cannon Clash was crafted. Leveraging the core concepts acquired from the course, I have expanded upon the original framework to 
                        forge Cannon Clash into a distinct and enriched experience. I believe that this project howcases a commitment to high-quality design principles. 
                        This dedication has culminated in a game characterized by its scalability and a meticulously organized codebase, ensuring a seamless and immersive gameplay experience.</p>
                    </div>
                    <div id="toggle-div2" class="toggle-div">
                        <h2>Astroponics</h2>
                        <h4>Made with Godot</h4>
                        <a href="https://github.com/ChristopherMonteleone/AstroPonics" class="toggle-button" role="button" target="_blank" rel="noopener noreferrer">View on GitHub</a>
                        <br></br>
                        <iframe
                          width="560" 
                          height="315" 
                          src="https://www.youtube.com/embed/_tMvg4pWHa8?si=XAGoMB-UeSJJ9ebo" 
                          title="YouTube video player" 
                          frameborder="0" 
                          style="display: block; margin: auto;"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                          allowfullscreen>
                        </iframe>
                        <br></br>
                        <h5>Description</h5>
                        <p>Astroponics is an engaging and educational game focused on hydroponic farming. This project aims to provide users with a hands-on experience in the innovative world of hydroponics. Players will navigate a futuristic spaceship environment, learning the nuances of planting, nurturing, and harvesting various plant varieties associated with hydroponics.</p>
                        <h5>Background</h5>
                        <p>Astroponics was developed as a senior group project for the University of Nevada, Las Vegas. It consisted of seven individuals working as a team over twelve weeks. This team coordinated through weekly meetings that discussed the planning and execution of tasks in a collaborative manner, using the GDScript language, Godot game engine, and Git for version control. Unit testing was done using the Godot Unit Tests plugin. I believe that it demonstrates my ability to work in a team effectively to deliver an end result.</p>
                    </div>
                    <div id="toggle-div3" class="toggle-div">
                      <h2>Other Projects</h2>
                      <h4>Student and Personal Projects</h4>
                      <ul class="list-inline item-details">
                        <li>
                            <button id="toggle-button4" class="toggle-button">Airbnb Data Analysis</button>
                        </li>
                        <li>
                            <button id="toggle-button5" class="toggle-button">Pokemon GAN</button>
                        </li>
                        <li>
                            <button id="toggle-button6" class="toggle-button">Reinforcement Learning Obstacle Course</button>
                        </li>
                        <li>
                          <button id="toggle-button7" class="toggle-button">Tweet Sentiment Predictor</button>
                        </li>
                        <li>
                            <button id="toggle-button8" class="toggle-button">Sudoku Solver</button>
                        </li>
                        <li>
                            <button id="toggle-button9" class="toggle-button">Q Learning Snake</button>
                        </li>
                      </ul>
                      <i>Note: While these projects are not related to the field of Game Development, I include them here because I believe that they showcase a diverse range of knowledge in the field of Computer Science and a commitment to continuous learning.</i>
                      <br></br>
                      <div id="toggle-div4" class="toggle-div">
                        <h2>Airbnb Data Analysis</h2>
                        <h4>Data Science and Analysis</h4>
                        <a href="https://github.com/ChristopherMonteleone/AirBNB_Dataset_Analysis" class="toggle-button" role="button" target="_blank" rel="noopener noreferrer">View on GitHub</a>
                        <br></br>
                        <div class="container" width="640" height="360">
                          <img class="img-responsive" src="../img/Projects/AirbnbLasVegas.png">
                        </div>     
                        <br></br>
                        <h5>Description</h5>
                        <p>...</p>
                        <h5>Background</h5>
                        <p>...</p>
                      </div>
                      <div id="toggle-div5" class="toggle-div">
                        <h2>Pokemon GAN</h2>
                        <h4>Artificial Intelligence</h4>
                        <a href="https://github.com/ChristopherMonteleone/PokemonGAN" class="toggle-button" role="button" target="_blank" rel="noopener noreferrer">View on GitHub</a>
                        <br></br>
                        <p>Gif or Video Gameplay</p>
                        <br></br>
                        <h5>Description</h5>
                        <p>...</p>
                        <h5>Background</h5>
                        <p>...</p>
                      </div>
                      <div id="toggle-div6" class="toggle-div">
                        <h2>Reinforcement Learning Obstacle Course</h2>
                        <h4>Artificial Intelligence</h4>
                        <a href="https://github.com/ChristopherMonteleone/Obstacle-Course-Game-with-Reinforcement-Learning" class="toggle-button" role="button" target="_blank" rel="noopener noreferrer">View on GitHub</a>
                        <br></br>
                        <p>Gif or Video Gameplay</p>
                        <br></br>
                        <h5>Description</h5>
                        <p>...</p>
                        <h5>Background</h5>
                        <p>...</p>
                      </div>
                      <div id="toggle-div7" class="toggle-div">
                        <h2>Tweet Sentiment Predictor</h2>
                        <h4>Artifical Intelligence</h4>
                        <a href="https://github.com/ChristopherMonteleone/Climate-Change-Tweet-Sentiment-Predictor-Project" class="toggle-button" role="button" target="_blank" rel="noopener noreferrer">View on GitHub</a>
                        <br></br>
                        <div class="container" width="640" height="360">
                          <img class="img-responsive" src="../img/Projects/Tweets.png"/>
                        </div>
                        <br></br>
                        <h5>Description</h5>
                        <p>...</p>
                        <h5>Background</h5>
                        <p>...</p>
                      </div>
                      <div id="toggle-div8" class="toggle-div">
                        <h2>Sudoku Solver</h2>
                        <h4>Algorithms</h4>
                        <a href="https://github.com/ChristopherMonteleone/Sudoku-Solver-With-Backtracking-Algorithm" class="toggle-button" role="button" target="_blank" rel="noopener noreferrer">View on GitHub</a>
                        <br></br>
                        <video width="320" height="240" controls>
                          <source src="../img/Projects/Sudoku.mp4" type="video/mp4">
                        </video>
                        <br></br>
                        <h5>Description</h5>
                        <p>...</p>
                        <h5>Background</h5>
                        <p>...</p>
                      </div>
                      <div id="toggle-div9" class="toggle-div">
                        <h2>Q Learning Snake</h2>
                        <h4>Artificial Intelligence</h4>
                        <a href="https://github.com/ChristopherMonteleone/QLearningSnake" class="toggle-button" role="button" target="_blank" rel="noopener noreferrer">View on GitHub</a>
                        <br></br>
                        <video width="640" height="360" controls>
                          <source src="../img/Projects/Snake.mp4" type="video/mp4">
                        </video>
                        <br></br>
                        <h5>Description</h5>
                        <p>...</p>
                        <h5>Background</h5>
                        <p>...</p>
                      </div>
                    </div>
                
                    <script src="../js/script.js"></script>
                  </body>
              </div>
          </div>
      </div>
    </div>

    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>
</div>

<!-- References Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal-references" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <!-- Modal content similar to the template above, customized for "References" -->
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>References</h2>
            <hr class="star-primary">
            <br></br>
            <!-- <img src="img/portfolio/WorkExperience.png" class="img-responsive img-centered" alt="{{ post.alt }}"> -->
            <p>References available upon request!</p>
            <ul class="list-inline item-details">
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>
</div>