<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      <!-- About Me Icon -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-aboutMe" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/Projects.png" class="img-responsive" alt="About Me">
          <p class="icon-title">Projects</p>
        </a>
      </div>
      
      <!-- Education Icon -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-education" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/Education.png" class="img-responsive" alt="Education">
          <p class="icon-title">Education</p>
        </a>
      </div>
      
      <!-- Work Experience Icon -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-workExperience" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/WorkExperience.png" class="img-responsive" alt="Work Experience">
          <p class="icon-title">Work Experience</p>
        </a>
      </div>
      
      <!-- Skills Icon -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-skills" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/Skills.png" class="img-responsive" alt="Skills">
          <p class="icon-title">Skills</p>
        </a>
      </div>
      
      <!-- Projects Icon -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-projects" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/AboutMe.png" class="img-responsive" alt="Projects">
          <p class="icon-title">About Me</p>
        </a>
      </div>
      
      <!-- References Icon -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-references" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/References.png" class="img-responsive" alt="References">
          <p class="icon-title">References</p>
        </a>
      </div>
    </div>
  </div>
</section>